@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
  height: 100%;
}

body {
  background-color: #141519;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div {
  background-color: #212832;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  height: 337.5px;
}

h1 {
  font-family: Overpass, serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  align-self: flex-start;
  margin-left: 23px;
}

p {
  font-family: Overpass, serif;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 22px;
  color: hsl(217, 12%, 63%);
  width: 85%;
  margin-top: -5px;
}

/* default state css */

.default--paragraph {
  text-align: left;
}

.star--div {
  width: 42px;
  height: 42px;
  background-color: #272e38;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  margin-top: 25px;
  margin-left: 23px;
}

.rating--list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 24px;
}

.list--itemBtn {
  font-family: Overpass, serif;
  font-size: 12px;
  color: #989fa9;
  background-color: #272e38;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list--itemBtn:hover {
  color: white;
  background-color: #989fa9;
}

.list--itemBtn:active {
  color: white;
  background-color: #fc7613;
}

.submit--button {
  font-family: Overpass, serif;
  font-size: 12px;
  background-color: #fc7613;
  text-transform: uppercase;
  width: 85%;
  border: none;
  border-radius: 23px;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 25px;
}

.submit--button:active {
  color: #fc7613;
  background-color: white;
}

/* active state css */

.active--heading {
  align-self: center;
}
.thank--paragraph {
  text-align: center;
}

.thank--image {
  margin-top: 36px;
  width: 136px;
}
.selected--paragraph {
  background-color: #272e38;
  color: #fc7613;
  width: 180px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 375px) {
  div {
    width: 90%;
  }
  .submit--button {
    height: 55px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 1440px) {
  div {
    width: 345px;
  }

  .submit--button {
    height: 36px;
  }
}

@media only screen and (min-width: 1441px) {
  div {
    width: 345px;
  }

  .submit--button {
    height: 36px;
  }
}
