@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
  height: 100%;
}

body {
  background-color: #141519;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div {
  background-color: #212832;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 90%;
}

h1 {
  font-family: Overpass, serif;
  font-weight: 400;
  color: white;
}

p {
  font-family: Overpass, serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  width: 85%;
}

.star--div {
}

.rating--list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  width: 85%;
}

.list--item {
  font-family: Overpass, serif;
  font-size: 12px;
  color: #989fa9;
  background-color: #272e38;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* toto iba pre monitory */
.list--item:hover {
  color: white;
  background-color: #989fa9;
}

.list--item:active {
  color: white;
  background-color: #fc7613;
}

.submit--button {
  font-family: Overpass, serif;
  background-color: #fc7613;
  text-transform: uppercase;
  height: 45px;
  width: 85%;
  border: none;
  border-radius: 23px;
  color: white;
  margin-bottom: 25px;
}

.submit--button:active {
  color: #fc7613;
  background-color: white;
}

.hidden {
  display: none;
}
